body {
	margin-left: 20px;
}

h1 {
	text-align: center;
}

form {
	width: 600px
}

div {
	width: 600px;
}

form+div {
	margin-top: 20px;
}

table {
	margin: 0 auto;
	text-align: center;
	border-collapse: collapse;
	width: 200px;
	margin-bottom: 20px;
}

th {
	background-color: #DDD;
	border: 1px solid #999;
	border-bottom: 2px solid #777;
	padding: 5px;
}

td {
	border: 1px solid #999;
	padding: 4px;
}

.center_content {
	text-align: center;
}

button {
	margin-top: 20px;
	padding: 10px;
	border-radius: 10px;
	background-color: #BBB;
	border: 1px solid #AAA;
	box-shadow: 1px 1px 2px #999;
}

button:hover {
	background-color: #AAA;
	border: 1px solid #999;
}

label {
	margin-right: 10px;
}

input {
	width: 500px;
	padding: 3px;
	border-radius: 5px;
	border: 1px solid #BBB;
	font-size: 12px;
}

input:focus {
	outline: none;
	box-shadow: 0 0 3px #99B;
}

footer {
	position: absolute;
	bottom: 10px;
	left: 0;
	right: 0;
	text-align: center;
}